h1 {
    color: DarkSlateBlue;
}

h2 {
    color: DarkSlateBlue;
}

td {
vertical-align:top
}

.details tr td {
border-width: 1px;
border-style: dashed;
border-color: lightgray;
padding: 0px;
margin: 0px;
}

.details {
    border-spacing: 0px;
    border-collapse: separate;
    
    margin-top: 2em;
}

.header {
    color: white;
    background-color: DarkSlateBlue ;
    -webkit-print-color-adjust: exact;
    border-color: DarkSlateBlue;
    border-style: solid;
}

tr.header td {
    border-color: DarkSlateBlue;
    border-style: solid;
}

tr.alt td{
    background-color: ghostWhite ;

}


[STYLEINJECT]